*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #4c6986;
}
.container-fluid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header{
    display: flex;
    justify-content: center;
    color: #9A9A9A;
    font-size: 24px;
    margin-top: 30px;
}
.header .player-x{
    flex: 1;
    border-bottom: 5px solid #eee;
    padding-bottom: 10px;
}
.player-x.active{
    color: #42BED7;
    border-color: #42BED7;
}
.header .player-o{
    flex: 1;
    border-bottom: 5px solid #eee;
    padding-bottom: 10px;
}
.player-o.active{
    color: #D7BAFB;
    border-color: #D7BAFB;
}
.tile-x{
    color: #42BED7;
}
.tile-o{
    color: #D7BAFB;
}
.tile-winner span{
    color: #23CE68;
}
h1{
    font-size: 60px;
}
.restart{
    width: 175px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #4c6986;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
    margin-top: 30px;
}
.restart:hover{
    background-color: #4c6986;
    color: white;
}
.game{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.board{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px;
    flex-grow: 1;
    padding: 10px;
}
.board-tile{
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
}
.board-tile:not(:nth-child(3n)){
    border-right: 3px solid rgba(137, 163, 189, 0.5);
}
.board-tile:not(:nth-last-child(-n+3)){
    border-bottom: 3px solid rgba(137, 163, 189, 0.5);
}
.board-tile:hover{
    background-color: #eeeeee;
}
@media  only screen and(max-width:940px){
    .container-fluid{
        flex-direction: column;
    }
}